@import "./src/styles/_common.scss";

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: scroll;
  background-color: $primary-grey;
}

.hero {
  position: relative;
}

.logo {
  color: $primary-lightest;
  margin-left: 5%;
  transform: rotate(-2deg);
}

.banner {
  position: absolute;
  width: 100%;
  height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  top: -100%;
  @media (max-width: 420px) {
    height: 40vh;
  }
}

#root {
  width: 100%;
  height: 100%;
}
